{
  "catstory": {
    "repo_path": "catstory",
    "git_url": "git@tx.git.chelaile.net.cn:dev/catstory.git",
    "default_branch": "master",
    "jenkins_job": "上海-catstory",
    "staging": {
      "branch": "erp",
      "jenkins_job": "上海-catstory-pre",
      "domain": "https://preapi.maoli.net/catstory",
      "log_hosts": ["139.196.13.81"],
      "logs_info": "/data/log/catstory/catstory.log",
      "logs_error": "/data/log/catstory/error.log",
      "mysql": {
        "host": "rm-uf6689m1cqi8972kseo.mysql.rds.aliyuncs.com",
        "port": 3306,
        "user": "catkeeper",
        "database": "catstory"
      }
    },
    "user": "root",
    "log_hosts": ["106.14.14.235","106.15.95.61"],
    "logs_info": "/data/log/catstory/catstory.log",
    "logs_error": "/data/log/catstory/error.log",
    "mysql": {
      "host": "rm-uf6689m1cqi8972kseo.mysql.rds.aliyuncs.com",
      "port": 3306,
      "user": "catkeeper",
      "database": "catstory"
    }
  },
  "push-service": {
    "repo_path": "push-service",
    "git_url": "git@tx.git.chelaile.net.cn:learn-share/push-service.git",
    "default_branch": "master",
    "jenkins_job": "上海-push-service",
    "staging": {
      "branch": "erp",
      "jenkins_job": "上海-push-service-pre",
      "domain": "https://preapi.maoli.net/push-platform",
      "log_hosts": ["139.196.13.81"],
      "logs_info": "/data/log/push-service/push-platform.log",
      "logs_error": "/data/log/push-service/error.log",
      "mysql": {
        "host": "rm-uf6689m1cqi8972kseo.mysql.rds.aliyuncs.com",
        "port": 3306,
        "user": "catkeeper",
        "database": "catstory"
      }
    },
    "user": "root",
    "log_hosts": ["106.14.14.235","106.15.95.61"],
    "logs_info": "/data/log/push-service/push-platform.log",
    "logs_error": "/data/log/push-service/error.log",
    "mysql": {
      "host": "rm-uf6689m1cqi8972kseo.mysql.rds.aliyuncs.com",
      "port": 3306,
      "user": "catkeeper",
      "database": "catstory"
    }
  },
  "learning-platform": {
    "repo_path": "learning-platform",
    "git_url": "git@tx.git.chelaile.net.cn:dev/learning-platform.git",
    "default_branch": "master",
    "jenkins_job": "上海-learning-platform",
    "staging": {
      "branch": "erp",
      "jenkins_job": "上海-learning-platform-pre",
      "domain": "https://preapi.maoli.net/learning-platform",
      "log_hosts": ["139.196.13.81"],
      "logs_info": "/data/log/learning-platform/content-platform.log",
      "logs_error": "/data/log/learning-platform/error.log",
      "mysql": {
        "host": "rm-uf6689m1cqi8972kseo.mysql.rds.aliyuncs.com",
        "port": 3306,
        "user": "catkeeper",
        "database": "catstory"
      }
    },
    "user": "root",
    "log_hosts": ["106.14.14.235","106.15.95.61"],
    "logs_info": "/data/log/learning-platform/content-platform.log",
    "logs_error": "/data/log/learning-platform/error.log",
    "mysql": {
      "host": "rm-uf6689m1cqi8972kseo.mysql.rds.aliyuncs.com",
      "port": 3306,
      "user": "catkeeper",
      "database": "catstory"
    }
  },
  "content-platform": {
    "repo_path": "content-platform",
    "git_url": "git@tx.git.chelaile.net.cn:dev/content-platform.git",
    "default_branch": "master",
    "jenkins_job": "上海-content-platform",
    "staging": {
      "branch": "erp",
      "jenkins_job": "上海-content-platform-pre",
      "domain": "https://preapi.maoli.net/content-platform",
      "log_hosts": ["139.196.13.81"],
      "logs_info": "/data/log/content-platform/content-platform.log",
      "logs_error": "/data/log/content-platform/error.log",
      "mysql": {
        "host": "rm-uf6689m1cqi8972kseo.mysql.rds.aliyuncs.com",
        "port": 3306,
        "user": "catkeeper",
        "database": "catstory"
      }
    },
    "user": "root",
    "log_hosts": ["106.14.14.235","106.15.95.61"],
    "logs_info": "/data/log/content-platform/content-platform.log",
    "logs_error": "/data/log/content-platform/error.log",
    "mysql": {
      "host": "rm-uf6689m1cqi8972kseo.mysql.rds.aliyuncs.com",
      "port": 3306,
      "user": "catkeeper",
      "database": "catstory"
    }
  },
  "user-platform": {
    "repo_path": "user-platform",
    "git_url": "git@tx.git.chelaile.net.cn:dev/user-platform.git",
    "default_branch": "master",
    "jenkins_job": "上海-user-platform",
    "staging": {
      "branch": "erp",
      "jenkins_job": "上海-user-platform-pre",
      "domain": "https://preapi.maoli.net/user-platform",
      "log_hosts": ["139.196.13.81"],
      "logs_info": "/data/log/user-platform/user-platform.log",
      "logs_error": "/data/log/user-platform/error.log",
      "mysql": {
        "host": "rm-uf6689m1cqi8972kseo.mysql.rds.aliyuncs.com",
        "port": 3306,
        "user": "catkeeper",
        "database": "catstory"
      }
    },
    "user": "root",
    "log_hosts": ["106.14.14.235","106.15.95.61"],
    "logs_info": "/data/log/user-platform/user-platform.log",
    "logs_error": "/data/log/user-platform/error.log",
    "mysql": {
      "host": "rm-uf6689m1cqi8972kseo.mysql.rds.aliyuncs.com",
      "port": 3306,
      "user": "catkeeper",
      "database": "catstory"
    }
  },
  "assets": {
    "repo_path": "assets",
    "git_url": "git@tx.git.chelaile.net.cn:learn-share/assets.git",
    "default_branch": "master",
    "jenkins_job": "上海-assets",
    "staging": {
      "branch": "erp",
      "jenkins_job": "上海-assets-pre",
      "domain": "https://preapi.maoli.net/asset-service",
      "log_hosts": ["139.196.13.81"],
      "logs_info": "/data/log/assets/asset-platform.log",
      "logs_error": "/data/log/assets/error.log",
      "mysql": {
        "host": "rm-uf6689m1cqi8972kseo.mysql.rds.aliyuncs.com",
        "port": 3306,
        "user": "catkeeper",
        "database": "catstory"
      }
    },
    "user": "root",
    "log_hosts": ["106.14.14.235","106.15.95.61"],
    "logs_info": "/data/log/assets/asset-platform.log",
    "logs_error": "/data/log/assets/error.log",
    "mysql": {
      "host": "rm-uf6689m1cqi8972kseo.mysql.rds.aliyuncs.com",
      "port": 3306,
      "user": "catkeeper",
      "database": "catstory"
    }
  }
}
